<section>
  <div class="container-fluid pt-5 pb-5 ">
    <div class="container ">

      <div class="row " >
          {{ range where .Site.RegularPages "Section" "case-studies" | first 1 }}
              <div class="col-12">
                <a href="{{ .Permalink }}"><h2 class="mb-4 text-dark">{{ .Title }}</h2></a>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <p> <span class="text-secondary text-uppercase ">Challenge </span>  {{ .Params.challenge }} </p>
                </div>
                <div class="mb-3">
                  <p> <span class="text-secondary text-uppercase">Solution </span> {{ .Params.solution }}</p>
                </div>
                <div class="mb-3">
                    <p> <span class="text-secondary text-uppercase">Impact </span>  {{ .Params.impact }}</p>
                </div>

                <div >
                  <a  href="{{ .Permalink }}">Read case study</a>
                </div>

              </div>

              <div class="col-8 ">
                  <img class="img-fluid" src="{{ .Params.image }}" alt="Waze Case Study" />
              </div>


      </div>


        <div class="row no-gutters mt-3 equal ">
            <div class="col-4 text-light">
              <div class="bg-card-1 p-4">
                <div class="h4"> {{ .Params.s1 }} </div> <div> {{.Params.s1t}}</div>
              </div>
            </div>

            <div class="col-4 text-light">
              <div class="bg-card-2 p-4">
                <div class="h4">{{ .Params.s2 }}</div> <div> {{ .Params.s2t }}</div>
              </div>
            </div>

            <div class="col-4 text-light">
              <div class="primary-bg p-4">
                <div class="h4">{{ .Params.s3 }}</div> <div>{{ .Params.s3t }}</div>
              </div>
            </div>
        </div>

        <div class="row">
          <div class="col-12 ">
            <div class="primary-bg text-white text-center p-4 mt-2">
              <div class="h4">{{ .Params.quote }}</div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
