<section>
  <div class="container-fluid pt-5 pb-5">
    <div class="container">
    <div class="row pb-3">
      <div class="col-12">
        <h4 class="text-uppercase">Partners</h4>
        <div><a class="text-dark text-underline" href="mailto:{{ .Site.Params.email }}">Become a partner</a></div>
      </div>
    </div>
    <div class="row partner-logos">
      <div class="col-md-3 col-xs-12"><img class="img-fluid" src="/img/logos/google.png" alt="Google"> </div>
      <div class="col-md-3 col-xs-12"><img class="img-fluid" src="/img/logos/grab.png" alt="Grab"> </div>
      <div class="col-md-3 col-xs-12"><img class="img-fluid" src="/img/logos/waze.png" alt="Waze"> </div>
      <div class="col-md-3 col-xs-12"><img class="img-fluid" src="/img/logos/mobike.png" alt="Mobike"> </div>
    </div>
    <div class="row partner-logos">
      <div class="col-md-3 col-xs-12"><img class="img-fluid pt-3" src="/img/logos/mapbox.png" alt="Mapbox"> </div>
      <div class="col-md-3 col-xs-12"><img class="img-fluid pt-3" src="/img/logos/linkedin.png" alt="LinkedIn"> </div>
      <div class="col-md-3 col-xs-12"><img class="img-fluid pt-3" src="/img/logos/cubeiq.png" alt="Cubeiq"> </div>
      <div class="col-md-3  col-xs-12"><img class="img-fluid logo-wmt pt-3" src="/img/logos/orbital-insights.png" alt="Orbital Insights"> </div>

    </div>
    <div class="row partner-logos">
      <div class="col-md-3 col-xs-12"><img class="img-fluid pt-3" src="/img/logos/mapillary.png" alt="Mapillary"> </div>
      <div class="col-md-3  col-xs-12"><img class="img-fluid logo-wmt pt-3" src="/img/logos/whereismytransport.png" alt="Where is my transport"> </div>
      <div class="col-md-3 col-xs-12"><img class="img-fluid w-25" src="/img/logos/digitalglobe-official.png" alt="Digital Globe"> </div>
      <div class="col-md-3 col-xs-12"><img class="img-fluid w-25" src="/img/logos/facebook.png" alt="Facebook"> </div>

    </div>
    <div class="row partner-logos">
      <div class="col-md-3 col-xs-12"><img class="img-fluid w-25" src="/img/logos/gsma.jpg" alt="GSMA"> </div>
      <div></div>
    </div>
    </div>
  </div>
</section>

<section>
    <div class="container-fluid pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h4 class="text-uppercase">How to engage</h4>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-md-6 col-xs-12">
            <h5 class="text-uppercase">Consortium Member</h5>
            <p>The Consortium is open to donors and entities engaged in international development work. Members have access to the Data Collaboratives data sharing platform and IT infrastructure and are invited to participate in workshops, exchanges, and training activities.</p>
          </div>
          <div class="col-md-6 col-xs-12">
            <h5 class="text-uppercase">Data Partner</h5>
            <p>The Consortium helps partners unlock public good opportunities from their data in a secure, responsible manner. Data partnerships can be leveraged to open markets in emerging economies, receive new data methods and algorithms, and increase staff skills through collaboration and secondment opportunities.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
