
<section>
  <div class="container-fluid pb-2">
    <div class="container">
      <div class="row pt-2">
        <div class="col-md-2 col-xs-6 pt-2 d-none d-sm-block">
            <img class="img-fluid" src="/img/logos/wbg.png" alt="World Bank Logo" />
        </div>
        <div class="col-md-2 col-xs-6 pt-2  d-none d-sm-block">
         <img  class="img-fluid" src="/img/logos/idb.png" alt="IDB Logo" />
        </div>
        <div class="col-md-1 col-xs-1 pt-2  d-none d-sm-block">
          <img  class="w-50 img-fluid logo-imf" src="/img/logos/imf.png" alt="IMF Logo" />
        </div>
        <div class="col-md-7 col-xs-12 text-right pt-2 small">
          © 2019 The World Bank Group, All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>
