
  <section>
    <div class="container-fluid pb-2">
      <div class="container">
        <div class="row pt-2">
          <div class="col-md-2 col-xs-6 pt-2 d-none d-sm-block">
              <img class="img-fluid" src="/img/logos/wbg.png" alt="World Bank Logo" />
          </div>
          <div class="col-md-2 col-xs-6 pt-2  d-none d-sm-block">
           <img  class="img-fluid" src="/img/logos/idb.png" alt="IDB Logo" />
          </div>
          <div class="col-md-1 col-xs-1 pt-2  d-none d-sm-block">
            <img  class="w-50 img-fluid logo-imf" src="/img/logos/imf.png" alt="IMF Logo" />
          </div>
          <div class="col-md-7 col-xs-12 text-right pt-2 small">
            © 2019 The World Bank Group, All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
