.primary-bg {
  background-color: #0E1528;
  color: inherit;
}

.text-secondary {
  color: #3C3BF7 !important;
}

.secondary-bg {
  background-color: #F7F6F3;
  color: inherit;
}

.primary-color {
  color: #26A5FF;
  background-color: inherit;
}
a {
  text-decoration: none !important;
}

a:hover , a:visited {
  color: #1A509B
}

h1 , h2, .hero p  {
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Karla', sans-serif;
}

p {
  font-size: 1.1rem;
}

h6 {
  font-weight: bold;
}

a.subtle-link {
  color:#212529;
}

.single-content img {
  width:100%;
  height: auto;
}

.single-content h1:not(:first-child), .single-content h2:not(:first-child), .single-content h3:not(:first-child) {
    margin-top: 2.5rem;
}

.single-content {
  margin-bottom: 5rem;
}

.mb-20px {
  margin-bottom: 20px;
}

.hero {
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.line {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  margin-top:1.5rem;
  margin-bottom:1rem;
}

.line-blue {
  background-color: #26A5FF;
  color: inherit;
}

.line-red {
  background-color: #D0021B;
  color: inherit;
}

.line-green {
  background-color: #50E3C2;
  color: inherit;
}

.line-orange {
  background-color: #F5A623;
  color: inherit;
}

.line-black {
  background-color: #000;
  color: inherit;
}

.line-transparent {
  background-color: transparent;
  color: inherit;
  border: 1px solid #000;
}

.partner-logos div {
  padding: 2rem;
  text-align: center;
}

.content-expand {
  font-size: 0.8rem;
  text-decoration: underline;
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
}

.arrow-1 {
  transform: rotate(20deg);
}

.arrow-3 {
    margin-left: -15px;
}

.arrow-5 {
    margin-top: 15px;
}

.bg-card-1 {
  background-color: #1A509B;
}

.bg-card-2 {
  background-color: #6a1b9a;
}


.bg-black {
  background-color: #000;
}

.card-dc-small {
  min-height: 240px;
}

.card-dc-large {
  min-height: 500px;
}

.card > .bg-image {
    border-radius: 0.625rem;
    position: absolute;
}

.bg-image:not([class*="absolute"]) {
  position: absolute;
}

.bg-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}



.opacity-20 {
    opacity: 0.2;
}

.opacity-70 {
    opacity: 0.7;
}

img.bg-image {
    object-fit: cover;
}

a.card-dc-large:hover , a.card-dc-small:hover {
  text-decoration: none;
}

.btn-round {
    border-radius: 50%;
    width: 3.75rem;
    height: 3.75rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 575.98px) {

  .intro {
    background-color: rgba(14,21,40 , 0.8);
  }

  .intro h1 {
    font-size: 1.5rem;
  }

  .intro p  {
    text-align: left !important;
  }

   .logo-imf {
     width: 25% !important;
   }

 }

 /* // Large devices (desktops, 992px and up) */
 @media (min-width: 992px)  {


   .partner-logos img {
     width: 60%;
   }

   .logo-wmt {
     width: 80% !important;
   }

   .partner-logos:not(:last-child) {
       border-bottom: 1px solid lightgray;
   }
   .partner-logos div:not(:first-child) {
     border-left: 1px solid lightgray;
   }


  }
